*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
a:focus {
  outline: none;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

img,
svg,
canvas,
iframe,
audio,
video {
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=search],
input[type=submit],
input[type=button],
button:not([class]),
textarea,
select {
  font: inherit;
  line-height: inherit;
  border: 0;
  background-color: transparent;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=search]:focus,
input[type=submit]:focus,
input[type=button]:focus,
button:not([class]):focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type=submit],
input[type=button],
button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media (min-width: 36em) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 48em) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 62em) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 75em) {
  .container {
    max-width: 1140px;
  }
}

html {
  background-color: #ebecf0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
p,
input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

div,
p {
  color: #535762;
  text-shadow: 1px 1px 1px #fff;
}

form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}
button.red {
  display: block;
  width: 100%;
  color: #ae1100;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-group label {
  margin: 0;
  flex: 1;
}

.neumorphic-checkbox {
  padding: 20px;
  position: relative;
  margin: 0 5px;
  transition: all 0.25s ease;
}

.neumorphic-checkbox::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #a0a6b3;
  background: transparent;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease;
}

.neumorphic-checkbox_active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px rgb(255, 255, 255), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px rgb(255, 255, 255), 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}

.neumorphic-checkbox_active::after {
  background-color: #a3aab9;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.d-flex {
  display: flex;
}

#question {
  margin-bottom: 3rem;
}

#timer {
  text-align: center;
}

#next {
  margin-top: 2rem;
  width: 100%;
}

#name {
  text-align: end;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.progress {
  width: 100%;
  height: 12px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 7;
  position: relative;
  margin-top: 16px;
  border-radius: 12px;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
  background-color: #ebecf0;
}
.progress__fill {
  width: 10%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  background-image: linear-gradient(to right, #1657f0, #36d7e0);
}
.progress__fill:before {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #535762;
  content: "10%";
  padding: 11px 15px;
  margin-top: -16px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -100%);
  border-radius: 8px;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
  background-color: #ebecf0;
}
.progress__fill:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 12px;
  transform: translate(50%, -100%);
  border-top: 9px solid #ebecf0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

#results {
  width: 80%;
  margin-top: 4rem;
}
#results #score {
  border-radius: 1rem;
  padding: 1rem;
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5rem;
  margin: 2rem auto;
}
#results .question {
  border-radius: 1rem;
  padding: 1rem;
  color: #61677c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  margin: 2rem auto;
}
#results .question .correct-answer {
  color: green;
}
#results .question .correct-answer span {
  font-weight: bold;
  font-size: 120%;
}
#results .question .justification span {
  font-weight: bold;
  font-size: 120%;
}

#questions {
  width: 800px;
}